body {
  background-color: #e6e7e8;
  margin: 0;
  padding: 0;
}

.searchSection {
  background-color: #0059bc;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 250px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

.searchBtn {
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}

.load-more {
  display: flex;
  margin: 5px auto 50px auto;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery__link {
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 5px rgba(169, 176, 255, 0.72);
  border-radius: 5px;
  text-decoration: none;
}

.gallery-item__img {
  width: 100%;
}

.info {
  margin-left: 10px;
  color: black;
}

.is-hidden {
  display: none;
}
